.home-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
}

.home-content-container {
  padding: 10px;
  color: #ffffff;
  justify-self: center;
  width: 50%;
  margin-left: 3%;
}

.home-heading-ele {
  font-size: 50px;
  font-weight: 800;
}

.home-para-ele {
  font-size: 30px;
  font-weight: 600;
}

.home-btn {
  background-color: #6366f1;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
}

@media screen and (max-width: 767px) {
  .home-heading-ele {
    font-size: 24px;
  }
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    height: 120vh;

    .home-content-container {
      width: 70%;
    }
  }

  .home-para-ele {
    font-size: 16px;
  }
}
